<a href="https://colab.research.google.com/github/choco721/ICC.prueba/blob/Branch1/UCA_ED_2025_PANDAS_Y_NUMPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Curso B√°sico de Pandas

Este curso est√° dise√±ado para introducirte al uso de Pandas, una de las librer√≠as m√°s importantes de Python para an√°lisis de datos.

## üî∞ M√≥dulo 1: Introducci√≥n a Pandas

### Teor√≠a
Pandas es una librer√≠a de Python dise√±ada para la manipulaci√≥n y an√°lisis de datos. Proporciona estructuras como `Series` y `DataFrames`.

- `Series`: vectores unidimensionales con √≠ndice.
- `DataFrame`: tablas bidimensionales.

### Objetivo
Aprender a importar la librer√≠a y crear estructuras b√°sicas.

In [ ]:
import pandas as pd

# Crear una Serie
serie = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(serie)

# Crear un DataFrame
data = {
    "Nombre": ["Ana", "Luis", "Pedro"],
    "Edad": [22, 25, 20]
}
df = pd.DataFrame(data)
print(df)

### üß™ Ejercicios
1. Importar pandas como `pd`.
2. Crear una `Series` con temperaturas diarias.
3. Crear un `DataFrame` con nombre, carrera y nota.

In [ ]:
import pandas as pd

serie = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(serie)

#Creaci√≥n del DataFrame
data = {
    "Nombre": ["Juan", "Pedro", "Tom√°s"],
    "Carrera": ["Matem√°tica", "Filosof√≠a", "Seminario"],
    "Edad": [18,22,24]
}

df = pd.DataFrame(data)
print(df)

a    10
b    20
c    30
dtype: int64
  Nombre     Carrera  Edad
0   Juan  Matem√°tica    18
1  Pedro   Filosof√≠a    22
2  Tom√°s   Seminario    24

## üìä M√≥dulo 2: Series

### Teor√≠a
Una `Series` es un arreglo con etiquetas. Permite operaciones vectorizadas y selecci√≥n por √≠ndice.

### Objetivo
Manejar Series y realizar operaciones b√°sicas.

In [ ]:
temperaturas = pd.Series([25, 28, 31, 30, 27], index=["Lun", "Mar", "Mi√©", "Jue", "Vie"])
print("Media:", temperaturas.mean())
print(">30¬∞C:", temperaturas[temperaturas > 30])

### üß™ Ejercicios
1. Crear una `Series` con precios del d√≥lar.
2. Obtener el valor m√°ximo y m√≠nimo.
3. Filtrar los valores mayores al promedio.

In [ ]:
precios_dolar = pd.Series([1200, 1210, 1190, 1180, 1175,1240,1250])

valor_maximo = precios_dolar.max()
valor_minimo = precios_dolar.min()

print("Valor m√°ximo del d√≥lar:", valor_maximo)
print("Valor m√≠nimo:", valor_minimo)

promedio = precios_dolar.mean()  #el .mean me saca el promedio
mayores_al_promedio = precios_dolar[precios_dolar > promedio]

print("\nValores mayores al promedio:")
print(mayores_al_promedio)

Valor m√°ximo del d√≥lar: 1250
Valor m√≠nimo: 1175

Valores mayores al promedio:
1    1210
5    1240
6    1250
dtype: int64

## üß± M√≥dulo 3: DataFrames

### Teor√≠a
Un `DataFrame` es una tabla de datos con filas y columnas etiquetadas.

### Objetivo
Acceder y modificar informaci√≥n en DataFrames.

In [ ]:
alumnos = pd.DataFrame({
    "Nombre": ["Laura", "Nico", "Sof√≠a"],
    "Edad": [23, 21, 22],
    "Carrera": ["Datos", "Qu√≠mica", "F√≠sica"]
})
print(alumnos["Edad"])
print(alumnos.iloc[1])

### üß™ Ejercicios
1. Crear un DataFrame de 5 alumnos.
2. Agregar columna "Aprobado" (nota ‚â• 6).
3. Filtrar alumnos aprobados.

In [ ]:
datos = {
    "Alumno": ["Ana", "Bruno", "Carla", "Diego", "Elena"],
    "Nota": [7, 5, 6, 4, 9]
}

df = pd.DataFrame(datos)
# Agregar columna "Aprobado"
df["Aprobado"] = df["Nota"] >= 6
print("Todos los alumnos:")
print(df)

aprobados = df[df["Aprobado"] == True]

print("Alumnos aprobados:\n")
print(aprobados)

Todos los alumnos:
  Alumno  Nota  Aprobado
0    Ana     7      True
1  Bruno     5     False
2  Carla     6      True
3  Diego     4     False
4  Elena     9      True
Alumnos aprobados:

  Alumno  Nota  Aprobado
0    Ana     7      True
2  Carla     6      True
4  Elena     9      True

## üßº M√≥dulo 4: Limpieza de Datos

### Teor√≠a
En Pandas es com√∫n trabajar con datos incompletos o incorrectos. Podemos identificar y limpiar estos datos usando funciones como:

- `.isnull()`, `.dropna()`, `.fillna()` para nulos
- `.duplicated()`, `.drop_duplicates()` para duplicados
- `.astype()` para cambiar tipos de datos

### Objetivo
Detectar y corregir problemas comunes en los datos.

In [ ]:
df = pd.DataFrame({
    "Nombre": ["Ana", "Luis", None, "Pedro", "Luis"],
    "Edad": [22, None, 20, 20, None]
})

print("Valores nulos:\n", df.isnull())
print("Sin nulos:\n", df.dropna())
print("Rellenar nulos:\n", df.fillna({"Nombre": "Desconocido", "Edad": df["Edad"].mean()}))

Valores nulos:
    Nombre   Edad
0   False  False
1   False   True
2    True  False
3   False  False
4   False   True
Sin nulos:
   Nombre  Edad
0    Ana  22.0
3  Pedro  20.0
Rellenar nulos:
         Nombre       Edad
0          Ana  22.000000
1         Luis  20.666667
2  Desconocido  20.000000
3        Pedro  20.000000
4         Luis  20.666667

### üß™ Ejercicios
1. Crear un DataFrame con valores nulos y duplicados.
2. Eliminar duplicados.
3. Reemplazar nulos con un valor fijo o promedio.

In [ ]:
jugadores = ({
    "Nombre" : ["Tom√°s", "Facundo", "Ignacio", "Facundo", None, "Pedro"],
    "Club": ["Ger", "Drc", None, "Drc", "Orc", None],
    "Edad": [18,29,28,29,None, None]
})

df = pd.DataFrame(jugadores)

#print(df,df.isnull())
#print(df,df.dropna )
print(df, df.fillna({"Nombre": "MARTIN", "Edad": df["Edad"].mean(), "Club": "Plaza"}))

    Nombre  Club  Edad
0    Tom√°s   Ger  18.0
1  Facundo   Drc  29.0
2  Ignacio  None  28.0
3  Facundo   Drc  29.0
4     None   Orc   NaN
5    Pedro  None   NaN     Nombre   Club  Edad
0    Tom√°s    Ger  18.0
1  Facundo    Drc  29.0
2  Ignacio  Plaza  28.0
3  Facundo    Drc  29.0
4   MARTIN    Orc  26.0
5    Pedro  Plaza  26.0

## üìê M√≥dulo 5: Estad√≠sticas y Agrupaci√≥n

### Teor√≠a
Pandas permite realizar estad√≠sticas descriptivas y agrupamientos de datos para resumenes anal√≠ticos:

- `.mean()`, `.sum()`, `.describe()`
- `.groupby()` para agrupar por categor√≠as
- `.apply()` para aplicar funciones personalizadas

### Objetivo
Agrupar datos y calcular estad√≠sticas por grupo.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
print(df.groupby("sex")["tip"].mean())
print(df.groupby("day")["tip"].sum())

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64
day
Fri      51.96
Sat     260.40
Sun     247.39
Thur    171.83
Name: tip, dtype: float64

### üß™ Ejercicios
1. Agrupar por d√≠a y calcular la propina promedio.
2. Agrupar por sexo y total_bill promedio.
3. Crear una columna `propina_pct` = tip / total_bill y analizarla.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
print(df.groupby("day")["tip"].mean())
df["propina_pct"] = df["tip"] / df["total_bill"]
print (df)

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64
     total_bill   tip     sex smoker   day    time  size  propina_pct
0         16.99  1.01  Female     No   Sun  Dinner     2     0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3     0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3     0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2     0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4     0.146808
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3     0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2     0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2     0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2     0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2     0.159744

[244 rows x 8 columns]

In [ ]:
df = pd.read_csv("empleados.csv")}

print(df.groupby("Departamento"))

## üßÆ M√≥dulo 6: Operaciones y Transformaciones

### Teor√≠a
Permite crear nuevas columnas, transformar datos y ordenar registros:

- Filtrar filas: `df[df["col"] > valor]`
- Crear columnas: `df["nueva"] = ...`
- Ordenar: `.sort_values(by="col")`

### Objetivo
Manipular y transformar los datos.

In [ ]:
df["propina_pct"] = df["tip"] / df["total_bill"]
print(df.sort_values(by="propina_pct", ascending=False).head())

### üß™ Ejercicios
1. Crear columna con total de cuenta + propina.
2. Filtrar filas donde `size > 3`.
3. Ordenar por total_bill descendente.

## üîó M√≥dulo 7: Lectura y Escritura de Datos

### Teor√≠a
Pandas puede leer y escribir m√∫ltiples formatos:

- `.read_csv()`, `.read_excel()`
- `.to_csv()`, `.to_excel()`

### Objetivo
Importar y exportar datasets desde/hacia archivos.

In [ ]:
# Leer CSV
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")

# Guardar a CSV
df.to_csv("tips_modificado.csv", index=False)

### üß™ Ejercicios
1. Leer un archivo CSV local o remoto.
2. Guardar un resumen estad√≠stico como nuevo archivo.

## üß™ M√≥dulo 8: Proyecto Final

### Objetivo
Aplicar todo lo aprendido a un dataset real.

### Actividades
1. Cargar el dataset `tips.csv`.
2. Limpiar datos si es necesario.
3. Calcular estad√≠sticas: promedio, m√°ximos, m√≠nimos.
4. Agrupar por d√≠a y sexo.
5. Crear columnas nuevas como `% propina`.
6. Guardar archivo resultado como CSV.

# üî¢ Introducci√≥n a NumPy

NumPy es la librer√≠a base para c√°lculo num√©rico en Python. Permite crear y manipular arrays (vectores y matrices) de forma eficiente.

## üì¶ M√≥dulo 1: Arrays y Operaciones B√°sicas

### Teor√≠a
- Un `array` de NumPy es similar a una lista, pero permite operaciones vectorizadas.
- Soporta arrays de cualquier dimensi√≥n.

### Objetivo
Crear arrays y aplicar operaciones matem√°ticas sobre ellos.

In [ ]:
import numpy as np

# Crear un array unidimensional
a = np.array([1, 2, 3, 4])
print("Array a:", a)
print("a + 2:", a + 2)
print("a * 3:", a * 3)

# Crear array bidimensional
b = np.array([[1, 2], [3, 4]])
print("Matriz b:\n", b)
print("Transpuesta:\n", b.T)

### üß™ Ejercicios
1. Crear un array con valores del 0 al 9.
2. Elevar al cuadrado cada elemento.
3. Crear una matriz 3x3 de n√∫meros aleatorios enteros entre 1 y 10.

## üîÑ M√≥dulo 2: Indexado y Slicing

### Teor√≠a
Permite acceder a subconjuntos de datos usando √≠ndices o condiciones l√≥gicas.

### Objetivo
Indexar elementos y subarrays.

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
print("Tercer elemento:", arr[2])
print("√öltimos 3:", arr[-3:])
print("Elementos > 25:", arr[arr > 25])

### üß™ Ejercicios
1. Crear un array con los m√∫ltiplos de 3 entre 3 y 30.
2. Seleccionar los mayores a 15.
3. Reemplazar los valores menores a 10 por 0.

## üßÆ M√≥dulo 3: Operaciones Num√©ricas y Estad√≠sticas

### Teor√≠a
NumPy permite operaciones como:
- Suma, promedio, m√°ximo, desviaci√≥n est√°ndar
- Funciones matem√°ticas: `np.sin`, `np.exp`, `np.sqrt`

### Objetivo
Aplicar funciones matem√°ticas y estad√≠sticas.

In [ ]:
x = np.array([1, 2, 3, 4, 5])
print("Suma:", np.sum(x))
print("Promedio:", np.mean(x))
print("Desviaci√≥n est√°ndar:", np.std(x))
print("Ra√≠ces cuadradas:", np.sqrt(x))

### üß™ Ejercicios
1. Calcular el promedio de un array de notas.
2. Calcular la diferencia entre cada valor y la media.
3. Aplicar `np.log` a un array de valores positivos.